[Unit]
Description=Gluu Flask Daemon
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/gluu-flask
ExecStart=/bin/sh -c "API_ENV=$API_ENV HOST=$HOST PORT=$PORT /usr/bin/gluuapi daemon start"
ExecStop=/bin/sh -c "API_ENV=$API_ENV HOST=$HOST PORT=$PORT /usr/bin/gluuapi daemon stop"
ExecReload=/bin/sh -c "API_ENV=$API_ENV HOST=$HOST PORT=$PORT /usr/bin/gluuapi daemon restart"

[Install]
WantedBy=multi-user.target
