# Flask
Flask==0.10.1
flask-restful==0.3.1
crochet==1.4.0

# Docker
docker-py==1.2.3

#salt
salt==2014.7.6
pyzmq==14.6.0

#storage
tinydb==2.3.1
jsonpickle==0.9.0

netaddr==0.7.14
m2crypto==0.22.3
daemonocle==0.8
click==2.5
marshmallow==2.0.0.b3
flask-marshmallow==0.6.0
