<!DOCTYPE html>
<html>
<head>
<title>Welcome to Gluu Cluster!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to Gluu Cluster!</h1>
<p>If you see this page, you need to deploy an oxAuth node.</p>

<p>For online documentation please refer to
<a href="http://www.gluu.org/docs-cluster/">Gluu Cluster documentation</a>.<br/>
Support is available at
<a href="https://support.gluu.org/">https://support.gluu.org/</a>.</p>

<p><em>Thank you for using Gluu Cluster.</em></p>
</body>
</html>
