Source: gluu-flask
Section: base
Priority: optional
Maintainer: Gluu Developers <noresponse@gluu.org>
XSBC-Original-Maintainer: Adrin Alves <noresponse@gluu.org>
Build-Depends: debhelper (>= 8.0.0),
		dh-python,
		python-tox,
#python-all (>= 2.6.6-3~),
#python-setuptools,
XS-Python-Version: >=2.7
Standards-Version: 3.9.4
Homepage: http://www.gluu.org

Package: gluu-flask
Architecture: all
Depends: ${misc:Depends},${python:Depends}
Description: Gluu Flask
