Source: gluu-flask
Section: python
Priority: optional
Maintainer: Gluu Developers <noresponse@gluu.org>
XSBC-Original-Maintainer: Adrin Alves <noresponse@gluu.org>
Build-Depends: debhelper (>= 9.0.0),
		python,
		python-dev,
		openssl,
		python-tox,
	 	swig,
		libssl-dev,
		libzmq3-dev,
		python-ldap
XS-Python-Version: >=2.7
Standards-Version: 3.9.5
Homepage: http://www.gluu.org

Package: gluu-flask
Architecture: all
Depends: ${misc:Depends}, 
		python, 
		openssl, 
		python-netaddr, 
		python-crochet,
		python-flask,
		python-zmq,
		python-jsonpickle,
		python-docker-py,
		tinydb,
		python-flask-restful,
		python-flask-restful-swagger,
		libzmq3-dev,
		openjdk-7-jre-headless,
		oxd-license-validator,
		python-daemonocle,
		python-flask-marshmallow
Description: Gluu Server Flask Management API Server
 The goal is to use Salt, Docker, and Flask to build
 a new cluster recipe for the Gluu Server that will
 enable central administration of nodes, including
 provisioning, de-provisioning, and reporting.
