#!/usr/bin/make -f
%:
	dh $@ --with python2

override_dh_auto_build:
		python setup.py build
override_dh_auto_install:
		python setup.py install --root=debian/gluu-engine --install-scripts /usr/bin
		install -D -m0644 $(CURDIR)/debian/gluuengine.default $(CURDIR)/debian/gluu-engine/etc/default/gluuengine
override_dh_auto_clean:
		python setup.py clean
override_dh_auto_test:
override_dh_usrlocal:
